$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;

$column-header-height:36px;
$column-footer-height:36px;
$column-border-radius:5px;
$gap: 10px;


body{
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-phi-main{
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;

  .navbar{
    padding-left: $gap;
    display: flex;
    align-items: center;
    &.app{
      background-color: $appbar-bg-color;
      font-size: 1.5rem;
    }
    &.board{
      background-color: $board-bg-color;
      font-size: 1.1rem;
    }
  }

  .board-colums{
    display: flex;
    overflow-x: auto;
    
    .column{
      flex: 6 6 auto;
      width: 100px;
      height: cacl(100% -#{$gap});
      > *{
        background-color: #ebecf0;
      }

      // .img-column{
      //   padding-left: 20px;
      //   color: #333;
      //   padding: 0 8px;
      // }

      header{
        padding-left: 15px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;

      }

      footer{
        padding-left: 15px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        font-weight: bold;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
      }

      ul{
        list-style-type: none;
        margin: 0;
        overflow-y: auto;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        &::-webkit-scrollbar{
          -webkit-appearance: none;
        }
li{
  background-color: #fff;
  padding: $gap;
  margin-bottom: 10px;
  img{
    display: block;
    width: calc(100%);
    margin: -$gap 0 $gap (-$gap);
  }
}

      }

    }

  }
}